html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img
{
	margin: 0;
	padding: 0;
	border: 0;
}
html
{
	width: 100%;
	height: 100%;
}
body
{
	width: 100%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	background: #fff;
	font-size: 100.01%;
	font-family: Arial;
	position: relative;
	background: url(../Images/BackGrounds/Bg.png);
	vertical-align: baseline;
}

.LeftMargin, .RightMargin { display: none; }
.MaxWidth { max-width: 1100px; margin: 0 auto; }
.MinWidth { min-width: 985px; }
img { vertical-align: bottom; }
a:active, a:focus { outline: none; }

.Content:after,
.ContentInner:after,
.ContentText:after,
.Catalogue:after,
.CatalogueMenuOpen:after,
.CatalogueRotator:after,
.News:after,
.Article:after,
.ContentRightColumn:after,
.CatalogueLinks:after,
.SocialBlock ul:after,
.SocialBlock ul li:after,
.CatalogueOrder ul li:after,
.CatalogueItemRelatedItems:after,
.Footer:after
{
	display: block;
	clear: both;
	content: ""
}

.ContentRotatorPrintItem
{
	display: none;
}

a { cursor: pointer; }
a:hover
{
	color: #000 !important;
}
.BasketInfo
{
	position: fixed;
	top: 210px;
	left: -35px;
	z-index: 10000;
}
	.BasketInfo a
	{
		width: 90px;
		height: 195px;
		display: block;
		
		text-decoration: none;
	}
		.BasketInfo.RU a
		{
			background: url(../Images/Sprite.png) -1200px -230px;
		}
		.BasketInfo.RU a:hover
		{
			background: url(../Images/Sprite.png) -1290px -230px;
		}
		.BasketInfo.FR a
		{
			background: url(../Images/Sprite.png) -1200px -430px;
		}
		.BasketInfo.FR a:hover
		{
			background: url(../Images/Sprite.png) -1290px -430px;
		}
		.BasketInfo.EN a
		{
			background: url(../Images/Sprite.png) -1200px -635px;
		}
		.BasketInfo.EN a:hover
		{
			background: url(../Images/Sprite.png) -1290px -635px;
		}

.WidthFix
{
	width: 96%;
	margin: 0 auto;
	padding: 10px 0 0 0;
}
.Header
{
	width: 100%;
	margin: 0 0 10px 0;
	border-bottom: solid 1px #AAA;
	background: url(../Images/Sprite.png);
	position: relative;
}
	.LanguageSwitcher
	{
		position: absolute;
		right: 1em;
		top: 0.5em;
	}
		.LanguageSwitcher span
		{
			font-size: 0.6em;
			padding: 0 0.5em 0 0;
		}
		.LanguageSwitcher a
		{
			color: #ccc;
			text-decoration: none;
		}
		.LanguageSwitcher .Active
		{
			color: #000;
		}
	.Logo
	{
		width: 100%;
		margin: 0 auto;
		padding: 0.7em 0 0 0;
		text-align: center;
	}
		.Logo a
		{
			width: 410px;
			height: 90px;
			display: inline-block;
			position: relative;
			background: #fff;
		}
	.Menu
	{
		width: 100%;
		text-align: center;
		padding: 0.4em 0 0.7em 0;
	}
		.Menu a
		{
			display: inline-block;
			margin: 0 0.4%;
			font-size: 0.7em;
			text-decoration: none;
			color: #6C6C6C;
		}
		.Menu a.Active
		{
			color: #000;
			font-weight: bold;
		}
.Rotator
{
	width: 100%;
	background: url(../Images/Sprite.png);
	position: relative;
}
.RotatorWrapper
{
	width: 98.5%;
	overflow: hidden;
	padding-bottom: 306px;
	position: relative;
	margin: 0 auto;
}
.RotatorArrows
{
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 100;
}
.RotatorArrowLeft
{
	width: 20px;
	height: 20px;
	position: absolute;
	display: block;
	left: 15px;
	top: 0;
	margin: -10px 0 0 0;
	background: url(../Images/Sprite.png) -1215px -115px no-repeat;
	text-decoration: none;
}
.RotatorArrowRight
{
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	right: 15px;
	top: 0;
	margin: -10px 0 0 0;
	background: url(../Images/Sprite.png) -1255px -115px no-repeat;
	text-decoration: none;
}
.RotatorArrowLeft:hover
{
	background: url(../Images/Sprite.png) -1215px -145px no-repeat;
}
.RotatorArrowRight:hover
{
	background: url(../Images/Sprite.png) -1255px -145px no-repeat;
}
.RotatorContainer
{
	width: 400%;
	left: 0px;
	margin-left: 0;
	position: absolute;
	top: 8px;
	overflow: hidden;
}
.RotatorItem
{
	width: 25%;
	float: left;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.RotatorItem img
{
	height: 290px;
	overflow: hidden;
	position: relative;
}
.Separator
{
	width: 100%;
	height: 20px;
	background: url(../Images/Sprite.png) 0 -370px;
}
.Banners
{
	width: 100%;
	position: relative;
	text-justify: newspaper;
	text-align: justify !important;
	vertical-align: top;
	margin: 10px 0 0 0;
}
.BannerItem
{
	width: 184px;
	height: 77px;
	display: inline-block;
	display: -moz-inline-stack;
	//display: inline;
	vertical-align: top;
	overflow: hidden;
}
.BannerItem img
{
	width: 180px;
}
.BannerItem a,
.BannerItem span
{
	display: inline-block;
	border: solid 2px #CACACA;
}
.BannerItem a:hover,
.BannerItem span:hover
{
	border: solid 2px #aaa;
}

.Banners ins,
.CollectionItems ins,
.ContentNavSecond ins,
.CatalogueRotator ins,
.Project ins,
.Management ins
{
	width: 100%;
	display: inline-block;
	text-decoration: none;
	position: relative;
	height: 0;
	font-size: 0;
}
.Collection
{
	width: 100%;
	background: url(../Images/Sprite.png) 0 -400px;
	border-bottom: solid 1px #AAA;
	padding: 0.8em 0 0 0;
	position: relative;
	margin: -5px 0 0 0;
}
.CollectionTitle
{
	padding: 0 0 0 1em;
	font-size: 1.3em;
	color: #666;
	font-family: 'Arial Narrow', Arial;
	display: block;
}
.CollectionTitle a
{
	color: #666;
	text-decoration: none;
}
.CollectionItems
{
	width: 97%;
	text-justify: newspaper;
	text-transform: uppercase;
	text-align: justify !important;
	vertical-align: top;
	padding: 0.1em 0 0 1.4em;
}
.CollectionItem
{
	display: inline-block;
	display: -moz-inline-stack;
	//display: inline;
	//zoom: 1;
	vertical-align: top;
}
.CollectionItem a
{
	color: #7E7E7E;
	text-decoration: none;
	font-size: 0.75em;
}
.CollectionItem a.Active
{
	color: #000;
	font-weight: bold;
}
.CollectionOpen
{
	display: inline-block;
	display: -moz-inline-stack;
	//display: inline;
	//zoom: 1;
	vertical-align: top;
}
.CollectionOpen a
{
	width: 14px;
	height: 8px;
	display: block;
	background: url(../Images/Sprite.png) -1295px -120px no-repeat;
	text-decoration: none;
	position: relative;
	top: 0.35em;
	/*left: -0.6em;*/
}
.CollectionOpen a:hover
{
	background: url(../Images/Sprite.png) -1295px -145px no-repeat;
}
.CollectionOpenItems
{
	width: 97.5%;
	position: relative;
	margin: -1.7em 0 0 0;
	top: 0.7em;
}
.CollectionOpenItems .CollectionItem
{
	padding: 0 0 0.15em 0;
}
.Content
{
	width: 100%;
	background: #fcfdff url(../Images/Sprite.png) -1380px 0 no-repeat;
	margin: 10px 0 15px 0;
	padding: 1.2em 0 1em 0;
	border-bottom: solid 1px #aaa;
}
.ContentInner
{
	width: 95%;
	padding: 0 0 0 2em;
}
.ContentNav
{
	width: 100%;
	font-size: 1.6em;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.5em 0;
	color: #444;
}
.ContentNav .Active a,
.ContentNavSecond .Active a
{
	color: #000;
}
.ContentNav a
{
	color: #444;
}
.ContentNavSeparator
{
	width: 6px;
	height: 10px;
	display: inline-block;
	position: relative;
	top: 0.5em;
	margin: 0 0.2em;
	background: url(../Images/Sprite.png) -1215px -205px;
}
.ContentNavOpen
{
	width: 10px;
	height: 6px;
	display: inline-block;
	position: relative;
	top: 0.6em;
	background: url(../Images/Sprite.png) -1240px -205px;
}
.ContentNavSecond
{
	width: 100%;
	text-justify: newspaper;
	text-align: justify !important;
	vertical-align: top;
	position: relative;
	margin: -0.5em 0 0 0;
}
	.ContentNavSecondItem
	{
		display: inline;
		padding: 0 2em 0 0;
	}
.ContentNavItem
{
	display: inline-block;
	//display: inline;
	//zoom: 1;
	vertical-align: top;
}
.ContentNavItem a
{
	color: #7E7E7E;
	text-decoration: none;
	font-size: 0.75em;
}
.ContentNavItem.Active a
{
	color: #000;
	font-weight: bold !important;
}
.ContentNavItemOpen
{
	display: inline-block;
	display: -moz-inline-stack;
	//display: inline;
	//zoom: 1;
	vertical-align: top;
}
.ContentNavItemOpen a
{
	width: 14px;
	height: 8px;
	display: block;
	background: url(../Images/Sprite.png) -1295px -120px;
	text-decoration: none;
	position: relative;
	top: 0.4em;
	left: -0.9em;
}
.ContentNavItemOpenItems
{
	width: 97.5%;
	position: relative;
	margin: -2em 0 0 0;
	top: 1em;
}
.ContentNavItemOpenItems .ContentNavItem
{
	padding: 0 0 0.15em 0;
}

.ContentText
{
	width: 100%;
	display: block;
}
.ContentText.SEOText p
{
	padding: 0 0 1em 1%;
}
.ContentText .ContentDate
{
	font-size: 0.7em;
	color: #AAAAAA;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	display: block;
}
.ContentText h1
{
	width: 100%;
	font: normal 1.6em 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.5em 0;
	line-height: 1.1em;
	color: #444;
}
.ContentText p
{
	font: 0.9em 'Arial Narrow', Arial;
	font-stretch: condensed;
	color: #727272;
	padding: 0 0 1em 0;
}
.ContentText table
{
	border-collapse: collapse;
}
	.ContentText table th
	{
		font: 0.8em Arial;
		color: #727272;
		padding: 0 0 1em 0;
		font-weight: bold;
		text-align: left;
	}
	.ContentText table td
	{
		font: 0.9em 'Arial Narrow', Arial;
		font-stretch: condensed;
		color: #727272;
		padding: 1em 0;
		border-bottom: solid 1px #ccc;
	}
	.ContentText table td img
	{
		padding: 0 2em 0 0;
	}
	.ContentText table tr:hover td
	{
		border-bottom: solid 1px #333;
	}
.ContentLeftColumn
{
	width: 40%;
	float: left;
}
.ContentRightColumn
{
	width: 59%;
	float: right;
}
.ContentRightColumn .ContentRotatorArrows
{
	width: 99%;
	left: 0;
}
.ContentRightColumn .ContentRotator
{
	width: 99%;
	height: 400px !important;
}
.ContentRightColumn .RotatorContainer
{
	height: 400px !important;
	top: 0 !important;
}
.ContentRightColumn .ContentRotatorItem
{
	height: 400px !important;
}
.ContentText .ContentLeftColumn
{
	width: 55% !important;
}
.ContentText .ContentRightColumn
{
	width: 40% !important;
}
.CatalogueText .ContentLeftColumn
{
	width: 18% !important;
}
.CatalogueText .ContentRightColumn
{
	width: 81% !important;
}
.TextPage
{
	width: 100%;
	text-align: left !important;
	vertical-align: top;
}
.TextPage .ContentNavItem
{
	padding: 0 1em 0 0;
}
.TextPage .ContentNavItemOpen
{
	display: none;
}

.TextPage .ContentLeftColumn
{
	width: 52% !important;
}
.TextPage .ContentRightColumn
{
	width: 42% !important;
	float: left;
	padding: 0 0 0 5%;
}
.TextPage .ContentLeftColumn ul
{
	list-style-type: none;
	padding: 0 0 1em 0;
}
.TextPage .ContentLeftColumn li
{
	padding: 0 0 0.5em 1em;
	color: #727272;
	font-size: 0.8em;
}
.ContentRotator
{
	width: 99%;
	height: 650px;
	position: relative;
	overflow: hidden;
}
.ContentRotatorArrows
{
	width: 106%;
	height: 20px;
	position: absolute;
	left: -3.5%;
	top: 50%;
	margin: -10px 0 0 0;
	z-index: 100;
}
.ContentRotatorArrowLeft
{
	width: 20px;
	height: 20px;
	position: absolute;
	display: block;
	left: 11px;
	top: 0px;
	background: url(../Images/Sprite.png) -1215px -115px;
	text-decoration: none;
}
.ContentRotatorArrowRight
{
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	right: 11px;
	top: 0px;
	background: url(../Images/Sprite.png) -1255px -115px;
	text-decoration: none;
}
.ContentRotatorArrowLeft.zoomer
{
	width: 20px;
	height: 20px;
	position: absolute;
	display: block;
	left: 11px;
	top: 170px;
	background: url(../Images/Sprite.png) -1215px -115px;
	text-decoration: none;
	z-index: 200;
}
.ContentRotatorArrowRight.zoomer
{
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	right: 11px;
	top: 170px;
	background: url(../Images/Sprite.png) -1255px -115px;
	text-decoration: none;
	z-index: 200;
}
.ContentRotatorArrowLeft:hover
{
	background: url(../Images/Sprite.png) -1215px -145px no-repeat;
}
.ContentRotatorArrowRight:hover
{
	background: url(../Images/Sprite.png) -1255px -145px no-repeat;
}

.ContentRotator .RotatorContainer
{
	height: 650px;
	overflow: hidden;
}
.ContentRotatorWrapper
{
	width: 100%;
	position: relative;
}
.ContentRotatorItem
{
	width: 100%;
	height: 650px;
	float: left;
	position: relative;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.CatalogueImage
{
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.ContentRotatorItemImage
{
	position: absolute;
	left: 8%;
	top: 15%;
	z-index: 100;
}
.ContentRotatorInfo
{
	width: 40%;
	left: 3%;
	bottom: 7%;
	position: absolute;
	padding: 1.2em 1.5em 0.5em 1.5em;
	overflow: hidden;
}
.ContentRotatorProjectInfo
{
	width: 45%;
}
.ContentRotatorInfoFull
{
	width: auto !important;
	left: 0 !important;
	padding: 1.2em 3.5em 1em 1.5em;
}
.ContentRotatorInfoFull .ContentRotatorInfoBg
{
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.ContentRotatorItemInfo
{
	width: 33%;
	left: auto;
	right: 5%;
	top: 30%;
	bottom: auto;
}
.ContentRotatorInfoBg
{
	width: 2000px;
	height: 2000px;
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	z-index: 10;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.ContentRotatorInfoText
{
	position: relative;
	z-index: 100;
}
.ContentRotatorInfo h1
{
	width: 100%;
	font-size: 2.2em;
	font-weight: normal;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.3em 0;
	line-height: 0.9em;
}
.ContentRotatorInfo a
{
	color: #545454;
}
.ContentRotatorInfo p
{
	width: 100%;
	font-size: 1.4em;
	font-weight: normal;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.7em 0;
	line-height: 1.1em;
}
.ContentRotatorInfo ul
{
	list-style-type: none;
}
.ContentRotatorInfo ul li
{
	width: 100%;
	display: block;
	font-size: 1.2em;
	font-weight: normal;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.2em 0;
}
.ContentRotatorInfo .Buttons
{
	width: 100%;
	margin: 0 0 0.5em 0;
	padding: 0 !important;
	position: relative
}
.ContentRotatorInfo .Button
{
	display: inline-block;
	text-decoration: none;
	border: none;
	background: none;
	padding: 0.5em 0.8em 0.5em 0.5em;
	margin: 0 0.5em 0 0;
}
.ContentRotatorInfo .Button a
{
	color: #fff;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	font-size: 0.9em;
	text-decoration: none;
	display: block;
	position: relative;
	margin: 0 0 0 0.6em;
}

.ContentRotatorInfo .Button span
{
	width: 6px;
	height: 10px;
	display: block;
	position: relative;
	text-decoration: none;
	background: url(../Images/Sprite.png) -1330px -120px;
	position: absolute;
	left: -0.6em;
	top: 0.25em;
}
.ContentRotatorInfo .Button a:hover
{
	color: #555 !important;
}
.ContentRotatorInfo .Button a:hover span
{
	background: url(../Images/Sprite.png) -1330px -145px;
}
.ContentRotatorPaging
{
	float: left;
	margin: 13px 0 10px 0;
}
.ContentRotatorPaging a
{
	text-decoration: none;
	color: #666;
	margin: 0 0.4em 0.4em 0;
	display: inline-block;
}

.ContentRotatorPaging span
{
	font-size: 0.7em;
	display: inline-block;
	text-decoration: none;
	background: #EDEDED;
	color: #777;
	padding: 0.5em 0.8em;
}
.ContentRotatorPaging a:hover span
{
	background: #777 !important;
	color: #eee !important;
}

.ContentRotatorPaging .Active span
{
	background: #AAAAAA;
	color: #f2f2f2 !important;
}

.PreLoader
{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #727272;
	font-size: 1.6em;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
}
.PreLoader img
{
	position: relative;
	left: -22px;
	top: -6px;
}
.ContentInner .Article
{
	margin: 0 0 1em 0;
}
.News,
.Article
{
	width: 95%;
	margin: 0 0 0 2em;
	
}
.NewsTitle,
.ArticleTitle
{
	width: 100%;
	font-size: 1.6em;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.5em 0;
	color: #444;
}
.NewsTitle a,
.ArticleTitle a
{
	color: #444;
}
.NewsItem,
.ArticleItem
{
	display: inline;
	position: relative;
}

.NewsItemHeader,
.ArticleItemHeader
{
	width: 29%;
	vertical-align: top;
	display: inline-block;
	padding: 0 3% 0 0;
}
.ContentLeftColumn .NewsItemHeader,
.ContentLeftColumn .ArticleItemHeader
{
	width: 85%;
	padding: 0;
}
.NewsItemInfo,
.ArticleItemInfo
{
	display: block;
	position: relative;
}
.NewsItemInfo a,
.ArticleItemInfo a
{
	text-decoration: none !important;
}
.NewsItemInfo a:hover .NewsLink,
.ArticleItemInfo a:hover .ArticleLink
{
	color: #000;
}
.NewsImage,
.ArticleImage
{
	position: absolute;
	left: 0;
	top: 0;
}
.NewsText,
.ArticleText
{
	padding: 10px 0 30px 110px;
	min-height: 100px;
	display: block;
}
.NewsLink,
.ArticleLink
{
	font-size: 0.9em;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	color: #727272;
	display: inline-block;
	text-decoration: underline;
}
.NewsDate,
.ArticleDate
{
	font-size: 0.7em;
	color: #AAAAAA;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	display: block;
}
.NewsItemFooter,
.ArticleItemFooter
{
	width: 200px;
	height: 30px;
	vertical-align: bottom;
	display: inline-block;
	margin: 0 0 0 -200px;
}
.Catalogue
{
	width: 100%;
}
.CatalogueTitle
{
	width: 100%;
	font-size: 1.6em;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.5em 0;
	position: relative;
	overflow: hidden;
}
.CatalogueTitle a
{
	color: #444;
	float: left;
	z-index: 1000;
	position: relative;
}
.CatalogueTitle span
{
	font-size: 0.6em;
	float: left;
	padding: 0 0 0 0.5em;
}
.CatalogueTitle	.CatalogueMode
{
	margin: 0;
	right: 1.7em;
	padding: 0;
	font-size: 0.9em;
	top: -0.1em;
}
.Catalogue .CatalogueRotator
{
	width: 88% !important;
	margin: 0 !important;
	border-bottom: solid 1px #BBBBBB;
}
.CatalogueRotator .RotatorWrapper
{
	padding-bottom: 190px;
}
.Catalogue .CatalogueArrows
{
	top: 30% !important;
}
.Catalogue .CatalogueArrowLeft
{
	left: -25px;
}
.Catalogue .CatalogueArrowRight
{
	right: -30px;
}
.CatalogueItemRotator
{
	width: 96% !important;
}
.CatalogueItemRotator .CatalogueArrowLeft
{
	left: -10px;
}
.CatalogueItemRotator .CatalogueArrowRight
{
	right: -10px;
}
.CatalogueRotator
{
	width: 92%;
	margin: 0 auto;
	position: relative;
	text-justify: newspaper;
	text-align: justify !important;
	vertical-align: top;
}
.CatalogueArrows
{
	width: 100%;
	height: 20px;
	position: absolute;
	left: 0;
	top: 40%;
}
.CatalogueArrowLeft
{
	width: 20px;
	height: 20px;
	position: absolute;
	display: block;
	left: -30px;
	top: 0;
	background: url(../Images/Sprite.png) -1215px -115px;
	text-decoration: none;
}
.CatalogueArrowRight
{
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	right: -30px;
	top: 0;
	background: url(../Images/Sprite.png) -1255px -115px;
	text-decoration: none;
}
.CatalogueRotatorItem
{
	height: auto !important;
	font-size: 1em !important;
	display: inline-block;
	//zoom: 1;
	vertical-align: top;
	color: #555;
	text-align: center;
}
.CatalogueRotatorItem a
{
	color: #868686;
	position: relative;
	text-decoration: none;
}
.CatalogueRotatorItem a:hover .CatalogueRotatorItemName
{
	color: #000;
}
.CatalogueRotatorItemImage
{
	width: 115px;
	min-height: 115px;
	display: inline-block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.CatalogueRotatorItemText
{
	width: 95%;
	display: block;
	margin: 0 auto;
	padding: 1em 0 0.5em 0;
	font-size: 0.7em;
	text-decoration: underline;
}
.CatalogueRotatorItemTextSecond
{
	font: 0.85em 'Arial Narrow', Arial;
	font-stretch: condensed;
	color: #727272;
	display: block;
	padding: 0 0 0.3em 0;
	text-decoration: none !important;
}
.CatalogueRotatorItemStatus
{
	display: inline-block;
	padding: 0.2em 0 0.5em 0 !important;
	font-size: 0.7em;
}
.CatalogueRotatorItemStatus span
{
	padding: 0.3em;
	background: url(../Images/Sprite.png) 0 -370px;
	color: #555 !important;
	text-decoration: none !important;
}
.CatalogueRotatorItemMainPage
{
	width: 115px;
	display: block;
	min-height: 115px;
	padding: 0 !important;
	text-decoration: none !important;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 0 auto;
}


.CatalogueButtons
{
	width: 100%;
	margin: 0 0 0.5em 0;
	position: relative;
}
.CatalogueButtons .Button
{
	display: inline-block;
	text-decoration: none;
	border: none;
	background: none;
	padding: 0.5em 0.8em 0.6em 0.5em;
}
.CatalogueButtons .Button a
{
	color: #fff;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	font-size: 0.75em;
	text-decoration: none;
	display: block;
	position: relative;
	margin: 0.2em 0 0 0.7em;
}

.CatalogueButtons .Button span
{
	width: 6px;
	height: 10px;
	display: block;
	position: relative;
	text-decoration: none;
	background: url(../Images/Sprite.png) -1330px -120px;
	position: absolute;
	left: -0.8em;
	top: 0.2em;
}
.CatalogueButtons .Button a:hover
{
	color: #555 !important;
}
.CatalogueButtons .Button a:hover span
{
	background: url(../Images/Sprite.png) -1330px -145px;
}


.CatalogueLinks
{
	width: 59%;
	padding: 25px 0 0 3%;
	float: left;
}
.CatalogueLinks ul
{
	width: 30%;
	list-style-type: none;
	float: left;
	padding: 0 3% 0 0;
}
.CatalogueLinks ul li
{
	padding: 0 0 0.5em 0;
	line-height: 0.9em;
}
.CatalogueLinks a
{
	color: #868686;
	text-decoration: none;
	font-size: 0.75em;
}
.JewelersOfAmerica
{
	width: 28%;
	float: left;
	padding: 25px 0 0 0;
}
	.JewelersOfAmerica a
	{
		width: 155px;
		height: 155px;
		border: solid 1px #ccc;
		text-decoration: none;
		display: block;
		background: url(../uploads/buttons/jewerly.png)
	}
	.JewelersOfAmerica a:hover
	{
		background: url(../uploads/buttons/jewerlyhover.png)
	}
.SocialBlock
{
	width: 100%;
	clear: both;
	padding: 1em 0 0 0;
}
.SocialBlock p
{
	display: inline-block;
	font: 0.8em 'Arial Narrow', Arial;
	font-stretch: condensed;
	position: relative;
	top: -12px;
	padding: 0 0.5em 0 0;
}
.SocialBlock ul
{
	width: 100%;
	list-style-type: none;
	display: inline-block;
	overflow: hidden;
	position: relative;
	margin: -0.3em 0 0 0;
}
	.SocialBlock li
	{
		padding: 0.2em 0;
		float: left;
	}
	
.Catalogue .SocialBlock
{
	padding: 2em 0 0 3%;
}
.Project
{
	width: 100%;
	position: relative;
	text-justify: newspaper;
	text-align: justify !important;
	vertical-align: top;
}
.Content .Project
{
	position: relative;
	margin: -1em 0 0 0;
}
.Content .ProjectItem
{
	margin: 1em 0 0 0;
}
.Project a
{
	font-size: 0.8em;
	color: #6C6C6C;
	text-decoration: none;
}
.Project a:hover .ProjectImage
{ 
	border: solid 2px #aaa;
}
.ProjectItem
{
	width: 32% !important;
	height: auto !important;
	font-size: 1em !important;
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: top;
	text-decoration: none;
}
.ProjectImage
{
	width: 100%;
	height: 170px;
	display: block;
	border: solid 2px #CACACA;
	text-decoration: none;
}
.ProjectLink
{
	display: block;
	text-align: center;
	text-decoration: underline;
	padding: 0.4em 0 0 0;
}

.Management
{
	width: 100%;
	position: relative;
	text-justify: newspaper;
	text-align: justify !important;
	vertical-align: top;
}
.Management a
{
	font-size: 0.8em;
	color: #6C6C6C;
	text-decoration: none;
}
.Management a:hover .ManagementImage
{ 
	border: solid 2px #aaa;
}
.ManagementItem
{
	width: 23.5%;
	display: inline-block;
	display: -moz-inline-stack;
	//display: inline;
	vertical-align: top;
}
.ManagementImage
{
	width: 100%;
	height: 320px;
	display: block;
	border: solid 2px #CACACA;
	text-decoration: none;
}
.ManagementLink
{
	display: block;
	text-align: center;
	text-decoration: underline;
	padding: 0.4em 0 0 0;
}
.ManagementText
{
	display: block;
	font-size: 0.8em;
	padding: 0.4em 0 1em 0;
	text-decoration: none !important;
	text-align: center;
}

.CatalogueRotatorPaging
{
	width: 100%;
	margin: -0.5em 0 0 2em;
	position: relative;
}
.CatalogueRotatorPaging a
{
	width: 22px;
	height: 19px;
	display: inline-block;
	text-decoration: none;
	background: #EDEDED;
}
.CatalogueRotatorPaging .Active
{
	background: #AAAAAA;
}
.CatalogueRotatorPaging a:hover
{
	background: #777 !important;
}

.Buttons
{
	width: 90%;
	margin: 1em 0 0 0;
}
.Button
{
	display: inline-block;
	background: url(../Images/Sprite.png) 0 -730px;
	border-top: solid 1px #DDDDDD;
	border-bottom: solid 1px #AAAAAA;
	padding: 0.5em 1.8em;
	text-decoration: none;
}
.Button a
{
	color: #666;
	font-family: 'Arial Narrow', Arial;
	font-size: 1.2em;
	font-stretch: condensed;
	text-decoration: none;
}
.Button input
{
	height: auto !important;
	border: solid 0px red;
	background: none;
	padding: 0;
	font: 1.2em Arial Narrow;
	font-stretch: condensed;
	cursor: pointer;
}
.ButtonsText
{
	padding: 0.5em 0 0 0;
	font-size: 0.75em;
}
.ButtonsText a
{
	margin: 0 !important;
}
.CatalogueMenu
{
	background: #E6E6E6 url(../Images/Sprite.png) 0 -780px no-repeat;
	padding: 0.5em 1em 0.7em 1em;
	position: relative;
	left: -1em;
	z-index: 100;
}
	.CatalogueMenu ul
	{
		width: 100%;
		list-style-type: none;
		border-bottom: solid 1px #AAAAAA;
		padding: 0.5em 0;
		position: relative;
	}
		.CatalogueMenu ul li
		{
			width: 95%;
			display: block;
			position: relative;
			margin: 0 0 0 10px;
			min-height: 19px;
		}
.CatalogueMenu span
{
	width: 9px;
	height: 11px;
	display: inline-block;
	background: none;
	position: absolute;
	/*top: 0.45em;*/
	top: 5px;
	left: -13px;
	padding: 0 0.3em 0 0;
}
.CatalogueMenu h5
{
	font-size: 0.7em;
	padding: 0 0 0.5em 0;
	color: #555;
}
.CatalogueMenu .Active span
{
	background: url(../Images/Sprite.png) -1215px -180px;
}
.CatalogueMenu .Active:hover span
{
	background: url(../Images/Sprite.png) -1235px -180px;
}
.CatalogueMenu ul li a
{
	font-size: 0.7em;
	color: #666;
	text-decoration: none;
}
.CatalogueMenu ul li ins
{
	display: inline-block;
	text-decoration: none;
}
.CatalogueMenuOpen span
{
	width: 10px;
	height: 11px;
	display: inline-block;
	background: url(../Images/Sprite.png) -1255px -180px;
	position: absolute;
	top: 0.5em;
	left: -13px;
	padding: 0 0.3em 0 0;
}
.CatalogueMenuOpen a:hover span
{
	background: url(../Images/Sprite.png) -1275px -180px;
}
.CatalogueMenuOpen .Active span
{
	background: url(../Images/Sprite.png) -1215px -180px;
}
.CatalogueMenuOpen .Active:hover span
{
	background: url(../Images/Sprite.png) -1235px -180px;
}

.CatalogueMenuOpen
{
	border: solid 1px #ccc;
	background: url(../Images/Sprite.png) -1380px 0;
	position: absolute !important;
	top: -2em;
	left: 2.5em;
	padding: 0 0.7em 0 0;
	z-index: 1000;
	display: inline-block;
}
.CatalogueMenuOpen ul
{
	width: auto !important;
	border-bottom: none;
	padding: 0.5em 1em 0.5em 0;
	float: left;
}
.CatalogueMenuOpen ul li
{
	padding: 0.2em 0.7em;
}
.CatalogueMenuOpen div
{
	position: relative;
}
/*.ShowCatalogueMenuOpenLi
{
	position: static !important;
}*/
/* 06/07/2011 */
.MenuHack
{
	width: 900px;
	display: block !important;
	position: relative;
	height: 0;
}
* html .MenuHack
{
	width: auto;
}
.CatalogueSearch
{
	margin: 10px 0 10px 10px;
}
.CatalogueSearch div
{
	width: 100%;
	font-size: 0.8em;
	font-family: 'Arial Narrow', Arial;
	font-stretch: condensed;
	display: block;
	color: #666;
	padding: 0 0 3px 0;
}
.CatalogueSearch input
{
	width: 60%;
	color: #666;
}
.CatalogSearchButton
{
	width: auto !important;
	height: auto !important;
	border: solid 0px red;
	background: none;
	padding: 0;
	font-family: 'Arial Narrow', Arial;
	font-size: 0.9em;
	font-stretch: condensed;
	cursor: pointer;
	left: 3px;
}

.CatalogueItem
{
	display: inline;
	text-align: center;
}
.CatalogueItemHeader
{
	width: 17.5%;
	vertical-align: top;
	display: inline-block;
	padding: 0 1% 0 0;
}
.CatalogueItemHeader .CatalogueItemInfo
{
	width: auto !important;
	display: block;
	position: relative;
	float: none !important;
	text-align: center !important;
}
.CatalogueItemInfo a
{
	color: #868686;
	position: relative;
	display: inline-block;
	text-decoration: none !important;
}
.CatalogueItemInfo a:hover .CatalogueItemText,
.CatalogueItemInfo a:hover .CatalogueItemTextSecond
{
	color: #444;
}
.CatalogueItemInfo ul
{
	list-style-type: none;
}
.CatalogueItemInfo ul li
{
	width: 100%;
	font: 0.9em 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.2em 0;
	color: #727272;
	display: inline-block;
	text-decoration: none;
}
.CatalogueItemInfo .CatalogueItemCost
{
	font-size: bold 1.1em 'Arial Narrow', Arial;
	font-stretch: condensed;
	color: #777;
}
.CatalogueItemInfo .Buttons
{
	padding: 0;
}
.CatalogueItemInfo .Button
{
	margin: 0 1em 0 0;
}
.CatalogueItemInfo .SocialBlock
{
	width: 100%;
	float: none !important;
}
.CatalogueItemHeader .CatalogueItemImage
{
	width: 100% !important;
	padding: 0 0 0 0 !important;
	float: none !important;

}
.CatalogueItemHeader .CatalogueItemImage span
{
	min-height: 100px;
	display: inline-block;
	position: relative;
}
.CatalogueOrderItems
{
	margin: 1em 0 0 0;
}
.CatalogueOrderInfo
{
	padding: 1em;
	background: #E6E6E6 url(../Images/Sprite.png) 0 -1750px;
	position: relative;
	left: -1em;
	margin: 0 0 1em 0;
}
.CatalogueOrderInfo p
{
	font-size: 0.8em;
	line-height: 1.2em;
	padding: 0 0 0.5em 0;
}
.CatalogueOrder,
.CatalogueOrder .CatalogueItemInfo,
.CatalogueOrder .CatalogueItemImage,
.CatalogueOrder .CatalogueItemText
{
	text-align: left !important;
	text-decoration: none !important;
}
.CatalogueOrder .CatalogueItemHeader
{
	width: 49%;
	padding: 0 0 2em 0;
}
.CatalogueOrder .CatalogueItemImage
{
	position: absolute;
	left: 0;
	top: 0;
}
.CatalogueOrder .CatalogueItemImage div
{
	width: 120px;
	text-align: center;
	padding: 1em 0 0 0;
}
.CatalogueOrder .CatalogueItemText
{
	min-height: 180px;
	padding: 0 0 0 140px;
	font-size: 0.85em;
	position: relative;
	z-index: 1000;
}
.CatalogueOrder ul
{
	width: 100%;
}
.CatalogueOrder ul li
{
	width: 100%;
	padding: 0 0 0.4em 0;
	font: 1em 'Arial Narrow', Arial;
	font-stretch: condensed;
	color: #525252;
}
.CatalogueOrder ul li span
{
	width: 22%;
	font-weight: normal !important;
	display: block;
	float: left;
	font-size: 1em;
}
.CatalogueOrder ul li ins
{
	width: 50%;
	display: block;
	float: left;
	text-decoration: none;
}
.CatalogueOrder ul li input
{
	width: 50%;
}
.CatalogueOrder .CatalogueItemDelete
{
	font: 1em 'Arial Narrow', Arial;
	font-stretch: condensed;
	display: inline-block;
	margin: 0.2em 0 0 0;
}
.CatalogueItemText
{
	padding: 0.5em 0 0 0;
	display: block;
	font-size: 0.7em;
	color: #868686;
	text-decoration: underline;
}
.CatalogueItemTextSecond
{
	font: 0.85em 'Arial Narrow', Arial;
	font-stretch: condensed;
	color: #727272;
	display: block;
	padding: 0.2em 0 0.3em 0;
	text-decoration: none !important;
}
.CatalogueItemStatus
{
	display: inline-block;
	padding: 0.6em 0 30px 0;
	font-size: 0.7em;
}
.CatalogueItemStatus span
{
	padding: 0.3em;
	background: url(../Images/Sprite.png) 0 -370px;
	color: #555 !important;
}
.CatalogueItemFooter
{
	width: 200px;
	height: 20px;
	vertical-align: bottom;
	display: inline-block;
	margin: 0 0 0 -200px;
}
.ContentRightColumn .CatalogueItemImage
{
	width: 50%;
	float: left;
	padding: 0 0 2em 0;
}
.CatalogueItemsStatus
{
	width: 100%;
	border-top: solid 1px #ccc;
	color: #444;
	padding: 0.6em 0 0 0;
	clear: both;
}
.CatalogueItemStatusTitle
{
	font: 1.3em 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.5em 0;
}
.CatalogueItemsStatus .CatalogueItemHeader
{
	width: 31%;
}
.CatalogueItemsStatus .CatalogueItemImage
{
	display: inline-block;
}
.CatalogueItemsStatus .CatalogueItemInfo
{
	padding: 0 0 1em 0;
}
.ContentRightColumn .CatalogueItemImageDescription
{
	width: 100%;
	font: 0.9em 'Arial Narrow', Arial;
	font-stretch: condensed;
	color: #777;
	padding: 0.5em 0 0.3em 0;
	display: block;
	clear: both;
}
.ContentRightColumn .CatalogueItemImageDescription a
{
	color: #000;
}
.ContentRightColumn .CatalogueItemInfo
{
	width: 45%;
	float: right;
}
.ContentCatalogue
{
	padding: 0 0 20px 0 !important;
}
.CatalogueMode
{
	width: 50%;
	left:50%;
	position: relative;
	padding: 0 0 1.8em 0;
	margin: -2.8em 0 0 0;
	text-align: right;
}
.CatalogueMode ins
{
	display: inline-block;
	margin: 0 0 0 0.5em;
	text-decoration: none;
}
.CatalogueMode a
{
	font-size: 0.6em;
	color: #868686;
	text-decoration: none;
	background: url(../Images/Sprite.png) 0 -730px;
	display: inline-block;
	padding: 0.6em 0.7em 0.4em 0.7em;
	border-bottom: solid 1px #ccc;
}
.CatalogueMode .Active
{
	color: #000;
	background: url(../Images/Sprite.png) 0 -1000px !important;
}
.CatalogueItemStatusInfo
{
	display: inline-block;
	padding: 0.2em 0.3em 0.3em 0.3em;
	font-size: 0.8em;
	background: #dbdbdb url(../Images/Sprite.png) 0 -370px;
	color: #555 !important;
	margin: 0 0 0.7em 0;
	position: relative;
	top: -0.2em;
	text-decoration: none;
}
.CatalogueItemLink
{
	width: 100%;
	display: block;
	position: relative;
	margin: -0.4em 0 0.9em 0;
	font-size: 1em 'Arial Narrow', Arial;
	font-stretch: condensed;
	color: #727272;
}
.CatalogueItemLink a
{
	color: #555;
}
.CatalogueItemInfo .SocialBlock span span
{
	display: block;
}
.CatalogueItemInfo p
{
	width: 70%;
}
.CatalogueItemRelatedItems
{
	width: 100%;
	clear: both;
	padding: 1em 0 1em 0;
	position: relative;
}
.CatalogueItemRelatedItems h1
{
	padding: 0 0 0.4em 0;
}
.CatalogueItemRelatedGroup
{
	width: 24%;
	float: left;
}
.CatalogueItemRelatedGroupTitle
{
	font: 0.9em 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0 0 0.5em 0;
	border-bottom: solid 1px #ccc;
	color: #444;
	margin: 0 0 0.5em 0;
	white-space: nowrap;
	line-height: 0.9em;
}
.CatalogueItemRelatedGroupItems
{
	font: 0.8em 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0.5em 0 0 0;
}
.CatalogueItemRelatedItem
{
	padding: 0 0 1em 0;
	text-align: left;
	display: inline-block;
}
.CatalogueItemRelatedItem a
{
	text-decoration: none !important;
}
.CatalogueItemRelatedItemImage
{
	width: 100% !important;
	min-height: 40px;
	padding: 0 !important;
	display: inline-block;
	background-repeat: no-repeat;
}
.CatalogueItemRelatedItemText
{
	text-decoration: underline;
	display: block;
	padding: 0.3em 0 0 0;
}
.CatalogueItemRelatedItemStatus
{
	display: inline-block;
	padding: 0.5em 0 0px 0;
	position: relative;
}
.CatalogueItemRelatedItemStatus span
{
	padding: 0.3em 0.2em;
	background: #dbdbdb url(../Images/Sprite.png) 0 -370px;
	color: #555 !important;
	display: inline-block;
}
.Pager
{
	font-size: 0.7em;
	color: #666;
}
.Pager a
{
	color: #868686;
}
.Pager a
{
	display: inline-block;
	text-decoration: none;
	background: #EDEDED;
	color: #777;
	margin: 0 0.3em 0 0;
	padding: 0.5em 0.8em;
}
.Pager a:hover
{
	background: #777 !important;
	color: #eee !important;
}
.PageNumber .Active
{
	background: #AAA;
	color: #f2f2f2;
}
.PagerTitle,
.PagerControl ,
.PagerControlMargin,
/*.PagerLastPage,
.PagerFirstPage
{
	display: none;
}*/

.Footer
{
	width: 100%;
	background: url(../Images/Sprite.png) 0 -400px;
	border-bottom: solid 1px #AAA;
	padding: 1em 0;
	position: relative;
	top: -1.2em;
}
.FooterContact
{
	float: left;
	padding: 0 0 0 2em;
	color: #878787;
	font-size: 0.8em;
	line-height: 1.6em;
}
.FooterPhone
{
	float: left;
	font: 1.5em 'Arial Narrow', Arial;
	font-stretch: condensed;
	padding: 0.2em 0 0 3%;
	color: #727272;
}

.ContentRotatorInfoTextInner
{
	position: relative;
	z-index: 10000;
}

.CatalogueText
{
	position: relative;
}

.CataloguePager
{
	width: 75%;
	position: absolute;
	bottom: 0;
	left: 20%;
	padding: 0.3em 0 0 0;
	margin: 0 0 0 -0.15em;
}

.ContentRotatorItemBgImage
{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 5;
}
.ContentRotatorItemBgFlash
{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 5;
}

#RotatorNav {
	margin-top: 10%;
	text-align: center;  
}
#RotatorNav a {
	margin: 2px;
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: #808080;
}
#RotatorNav a.Active {
	background-color: #ffffff;
}

.zoom {
	display:inline-block;
}

/* magnifying glass icon */
.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
}

.zoom img {
	display: block;
}

.zoom img::selection { background-color: transparent; }

.SocialButtons {
	width: 100%;
	display: inline-block;
}
.social { list-style:none; 	}
.social li {
	width: 150px;
	display:inline; 
	float:left;
}
#vkshare0 td {
	padding: 0 !important;
	border: 0 none !important;
	margin: 0 !important;} 

#vkshare0 td div {
	vertical-align: top;
	float: none;
	text-align: left;
	font-size: 14px;
	width: auto;
	margin: 0px;
	}